<div class="row">
  <div class="col-lg-8 col-12 offset-lg-2 offset-0">
    <div class="list-group">
      <%= render partial: 'audits/index', object: @audits, as: :dated_audit %>
    </div>
  </div>
</div>
