<%= turbo_frame_tag dom_id(user_permission) do %>
  <div class="list-group-item">
    <% if user_permission.permission.present? %>
      <%= t("users.permissions.#{user_permission.permission}") %>
      <%= link_to 'Delete', [@user, user_permission], method: :delete, data: { confirm: 'Ești sigur?' } %>
    <% end %>
  </div>
<% end %>
