<div class="" data-controller="stripe-checkout"
              data-stripe-checkout-publishable-key-value=" <%= Rails.application.credentials.dig(:stripe_pk) %>"
              data-stripe-checkout-url-value="<%= notice_stripe_checkouts_path(@notice) %>">

</div>
