<p>Salut <%= @resource.email %>!</p>

<p>Cineva a solicitat un link pentru a-ți schimba parola. Poți face acest lucru prin link-ul de mai jos.</p>

<p><%= link_to 'Schimbă-mi parola', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Dacă nu ai solicitat acest lucru, te rugăm să ignori acest email.</p>
<p>Parola ta nu se va schimba până când nu accesezi link-ul de mai sus și creezi una nouă.</p>
